{% extends "base.html.twig" %}

{% block title %} Créer une tâche au projet   {% endblock %}

{% block body %}
    <form action="{{ path('add_task') }}" method="post">
        Titre de la tâche : <input type="text" name="title"> </br>
        Description de la tâche : <input type="text" name="description"> </br>
        <button type="submit">Créer la tâche</button>
    </form>


{% endblock %}